In [34]:
# Q1.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.
#importing the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [35]:
page1 = requests.get('https://www.imdb.com/list/ls055592025/')
imdb= BeautifulSoup(page1.content,"html.parser")

In [36]:
#scraping names of the movies

names =[]

for i in imdb.find_all('h3',class_="lister-item-header"):
    names.append(i.get_text().strip("\n").replace("\n","").split("(")[0])

In [37]:
#scraping year of the movies

year =[]

for i in imdb.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text)

In [38]:
#scraping rating of the movies

ratings =[]

for i in imdb.find_all('div',class_="ipl-rating-star small"):
    ratings.append(i.text.replace("\n",""))

In [39]:
#Making DataFrame

df= pd.DataFrame({'Movie_Names':names,'Year':year,'Rating':ratings})
df

                   Movie_Names    Year Rating
0              1.The Godfather  (1972)    9.2
1   2.The Shawshank Redemption  (1994)    9.3
2           3.Schindler's List  (1993)      9
3                4.Raging Bull  (1980)    8.1
4                 5.Casablanca  (1942)    8.5
..                         ...     ...    ...
95              96.Rear Window  (1954)    8.5
96            97.The Third Man  (1949)    8.1
97    98.Rebel Without a Cause  (1955)    7.6
98       99.North by Northwest  (1959)    8.3
99     100.Yankee Doodle Dandy  (1942)    7.6

[100 rows x 3 columns]

In [45]:
#Q2 Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL.
page10 = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
rest = BeautifulSoup(page10.content,'html.parser')

In [46]:
names =[]

for i in rest.find_all("div",class_="restnt-info cursor"):
    names.append(i.get_text())
    
cousine =[]
for i in rest.find_all("div",class_="detail-info"):
    cousine.append(i.get_text().split('|')[1])
    
loc =[]

for i in rest.find_all("div",class_="restnt-loc ellipsis"):
    loc.append(i.get_text())
    
rating = []

for i in rest.find_all("div",class_="restnt-rating rating-4"):
    rating.append(i.get_text())
    
img = []

for i in rest.find_all("img",class_="no-img"):
    img.append(i.get('data-src'))

In [47]:
df= pd.DataFrame({'Restaurant Names':names,'Cousine':cousine,'Location':loc,'Ratings':rating,'Images-url':img})
df

,Restaurant Names,Cousine,Location,Ratings,Images-url
0,"Castle's BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
5,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
6,"The Barbeque TimesM2K Corporate Park,Sector 51...","North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...

In [48]:
#Q3 Write s python program to display list of respected former finance minister of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.
def get_former_finance_ministers(url):
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', class_='tablepress tablepress-id-20 tablepress-responsive')
        if table:
            data = []
            rows = table.find_all('tr')
            for row in rows[1:]:  # Skip the header row
                columns = row.find_all('td')
                name = columns[0].text.strip()
                term_of_office = columns[1].text.strip()
                data.append({'Name': name, 'Term of Office': term_of_office})
            return data
        else:
            print("Table not found on the page.")
            return []
    else:
        print("Failed to fetch the webpage.")
        return []

def main():
    url = 'https://presidentofindia.nic.in/former-presidents.htm'
    former_finance_ministers = get_former_finance_ministers(url)
    if former_finance_ministers:
        df = pd.DataFrame(former_finance_ministers)
        print("Former Finance Ministers of India:")
        print(df)
    else:
        print("No data found.")

if __name__ == "__main__":
    main()

Failed to fetch the webpage.
No data found.

In [49]:
#Q4. Write a python program to display all the header tags from wikipedia.org.
# Send a GET request to the Wikipedia page
url = "https://en.wikipedia.org/wiki/Main_Page"
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find all the header tags (h1 to h6) using the find_all method
header_tags = soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"])

# Extract the text from the header tags and store them in a list
header_texts = [tag.get_text() for tag in header_tags]

# Create a data frame using pandas
df = pd.DataFrame(header_texts, columns=["Header"])

# Display the data frame
print(df)

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages